.panel {
  margin-top: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  &-left,
  &-right {
    display: flex;
    width: 500px;
    justify-content: space-between;
  }
  &-right {
    width: 320px;
  }
  &__btn {
    cursor: pointer;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 2px solid rgb(187, 185, 185);
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s;
    &-active {
      background-color: rgb(187, 185, 185);
    }
  }
}
